    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 side1">
                   <div class="stitle">
                        <h4>Import Product</h4>
                   </div>
                   <div class="scontent">
                       <ul>
                           <li><a href="/import">Display</a></li>
                           <li><a href="/import/add-product">Add bill</a></li>
                       </ul>
                   </div>   
                </div>
                <div class="col-lg-5 side2">
                    <div class="stitle">
                        <h4>Export Product</h4>
                    </div>
                    <div class="scontent">
                        <ul>
                            <li><a href="/export">Display</a></li>
                            <li><a href="/export/add-product">Add bill</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>